
html, body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

h2 {
    margin-left: 1rem;
}

.imageContainer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
}

.buttons {
    margin-top: 3rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.slideContainer {
    margin-top: 3rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-evenly;
}

.sliderBox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.slider {
    width: 50vw;
}

button {
    padding: 0.5rem 2rem;
}


#time {
    margin-top: 1rem;
    width: 100vw;
    text-align: center;
}
